Backtester_VS2013/GeneticProgramming.tests/bin/Release
Backtester_VS2013/Backtester.tests/bin
to_check/
to_check_backup/
Solution*.json
Backtester_VS2013/Backtester/bin/Debug/to_check_backup/
Backtester_VS2013/Backtester/bin/Debug/to_check/
*.dll
*.pdb
*.exe
*.cache
debug/
obj/